<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/global.css">
    <link rel="stylesheet" href="/static/css/Componentes/navbar.css">
</head>

<body>

    <nav class="navbar">
        <button class="navbar-hamburger" onclick="abrirSidebar()" aria-label="Abrir Menu">
            <span></span>
            <span></span>
            <span></span>
        </button>

        <div class="container_link">
            <a href="#"> Inicio </a>
        </div>

        <div class="container_link">
            <a href="#"> Saiba Mais </a>
        </div>

        <div class="container_link">
            <div class="navbar-dropdown">
                <button class="navbar-dropdown-botao">
                Sites <img class="seta" src="/assets/icones/icone-seta-baixo.png" alt="▼">
                </button>

                <div class="dropdown-menu">
                <a href="https://www.isepam.edu.br" target="_blank">Isepam</a>
                <a href="https://www.faetec.rj.gov.br/" target="_blank">Portal Faetec</a>
                </div>
            </div>
        </div>

    </nav>
</body>
</html>